# EditorConfig for Alfresco Max Version Policy
# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.java]
indent_size = 4
max_line_length = 120

[*.xml]
indent_size = 2

[*.{yml,yaml}]
indent_size = 2

[*.properties]
# Properties files can have trailing whitespace for spacing
trim_trailing_whitespace = false

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.sh]
indent_size = 2

[*.bat]
end_of_line = crlf
